<div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-lg-12 col-xl-11">
        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
            <p class="text-center h1 fw-bold" style="color: #7a6ad8; padding-top: 10%;">Update Product</p>
              <form class="mx-1 mx-md-4" #updateProduct="ngForm" (ngSubmit)="submit(updateProduct.value)">
                <p style="margin-left:35%; color: green;"> {{productMessage}} </p>
                <input type="text" id="form3Example" class="form-control" placeholder="Enter Product Name" name="name" ngModel="{{productData?.name}}"/>
                        
                <input type="text" id="form3Example" class="form-control" placeholder="Enter Product Price" ngModel="{{productData?.price}}" name="price"/>
           
                <input type="text" id="form3Example" class="form-control" placeholder="Enter Product Color" ngModel="{{productData?.color}}" name="color"/>
                        
                <input type="text" id="form3Example" class="form-control" placeholder="Enter Category" ngModel="{{productData?.cetegory}}" name="cetegory"/>
                      
                <textarea
                  class="form-outline"input type="text" id="form3Example" class="form-control" placeholder="Enter Product Description" ngModel="{{productData?.description}}" name="description">
                </textarea>
        
                <input type="text" id="form3Example" class="form-control" placeholder="Enter Product image URl" ngModel="{{productData?.images}}" name="images"/>
                      
                <div class="d-flex justify-content-center">
                  <button type="submit" class="btnR">Update</button>
                </div>
  
              </form>
           </div>
        </div>
      </div>
    </div>
  </div>
  